<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloSwifttyJSON.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2078AF471C65C4D700E512EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2078AF5B1C65C4D800E512EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2078AF661C65C4D800E512EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
